$genral-bg:#0B1D26;
$white: #fff;
$yellow: #FBD784;

%Gilroy-700 {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
}
%Gilroy-800 {
  font-family: 'Gilroy-Extrabold';
  font-weight:800;
}
%Gilroy-500 {
  font-family: 'Gilroy-Medium';
  font-weight: 500;
}
%Chronicle-600 {
  font-family: 'Chronicle-Display-Semibold';
  font-weight: 600;
}


 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
  text-transform: uppercase;
 }
 