.visually-hidden {
  display: none;
}

/* header */
/* Прикол меню в том, что когда сролишь вниз по сайту, то она плавно фиксируется и появляется фоновый цвет и границы, а на первом экране этих эфектов нет */
.header {
  color: #fff;
  z-index: 1;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu {
  position: fixed;
  max-width: 1200px;
  width: 100%;
  padding: 72px 15px 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 1s;
  left: 50%;
  transform: translateX(-50%);
}

.menu::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  transition: background-color 1s;
  left: 50%;
  transform: translateX(-50%);
}

.menu.active.menu::after {
  background-color: rgba(0, 0, 255, 0.755);
  backdrop-filter: blur(3px);
}

.menu.active {
  padding: 10px 15px;
}

.logo {
  transition: opacity 0.3s ease, outline 0.3s ease-in;
}

.logo:hover {
  opacity: 70%;
}

.logo:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
}

.logo:active {
  opacity: 50%;
}

.menu__burger-button {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-weight: 600;
  border-radius: 3px;
  transition: text-decoration-color 0.5s, opacity 0.5s, outline 0.5s, background-color 0.5s;
  text-decoration: underline transparent;
}

.menu__link:hover {
  text-decoration-color: #fff;
}

.menu__link:focus {
  outline: 2px solid #fff;
}

.menu__link:active {
  opacity: 70%;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 125px;
}

.header__title {
  font-weight: 400;
  max-width: 524px;
  font-size: 48px;
}

.header__subtitle {
  display: block;
  font-weight: 700;
  font-size: 90px;
}

.header__link {
  padding-bottom: 30px;
  position: absolute;
  font-weight: 600;
  right: 50%;
  transform: translateX(50%);
  bottom: 30px;
  border: 2px solid transparent;
  transition: border-color 0.5s ease, opacity 0.5s ease-in-out,
    text-decoration-color 0.5s ease-in-out;
  text-decoration: underline transparent;
}

.header__link::before {
  position: absolute;
  content: "";
  width: 37px;
  height: 23px;
  background-image: url("../images/arrow.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  right: 50%;
  transform: translateX(50%);
  top: 33px;
  border-radius: 4px;
}

.header__link:hover {
  text-decoration-color: #fff;
}

.header__link:focus {
  border-color: #fff;
}

.header__link:active {
  opacity: 70%;
}